
<div class="wrapper">
    <div class="top_navbar" id="fixed-nav-bar" >
      <div class="hamburger">
         <div class="hamburger__inner">
           <div class="one"></div>
           <div class="two"></div>
           <div class="three"></div>
         </div>
      </div>
      <div class="menu" style="position: static; float: none;">
        <div class="logo" style="color: black;">
          <h2 ><i>EXEQ</i></h2>
        </div>
        <div class="left_menu" >
        <ul style="z-index: 9999;">
          <li style="z-index: auto;">
            <i class="fas fa-bell" style="margin-left: 988px;"></i>
            <div class="profile_da">
               <div class="da_item"><i class="fas fa-user-circle" style="color: limegreen;"></i> &nbsp;&nbsp;Profile </div>
               <div class="da_item"><i class="fas fa-lock" style="color: lightgray;"></i>&nbsp;&nbsp;Change Password</div>
              
            </div>
          </li>
        </ul>
        </div>
        <div class="right_menu">
          <ul>
            <li>
              <i class="fas fa-user"></i>
              <div class="profile_dd">
                 <div class="dd_item"><i class="fas fa-user-circle" style="color: limegreen;"></i> &nbsp;&nbsp; Profile</div>
                 <div class="dd_item"><i class="fas fa-lock" style="color: lightgray;"></i>&nbsp;&nbsp;Change Password</div>
                 <div class="dd_item"><i class="fas fa-lock" style="color: maroon;"></i>&nbsp;&nbsp; Logout
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
      
    <div class="main_container">
        <div class="sidebar">
            <div class="sidebar__inner">
              <div class="profile">
                <!-- <div class="img">
                  <img src="../../assets/IMG/exeq engineers.png" alt="profile_pic" style="width: 180px;height: 170px;"> 
                </div> -->
                <!-- <div class="profile_info">
                   <p></p>
                   <p class="profile_name">Alex John</p>
                </div> -->
              </div>
              <ul>
                
                <li>
                  <a href="home" class="active">
                    <span class="icon">
                      <i class="fas fa-home"  style="color: plum;" ></i>
                    </span>
                    <span class="title">Dashboard</span>
                  </a>
                </li>
                
                <li>
                  <a href="viewstation">
                    <span class="icon"><i class="fas fa-charging-station" style="color: lightgreen;"></i></span>
                    <span class="title">Pets</span>
                  </a>
                </li>
                <li>
                  <a href="viewadmin">
                    <span class="icon"><i class="fas fa-user-shield" style="color: lightskyblue;"></i></span>
                    <span class="title">Admins</span>
                  </a>
                </li>
                <li>
                  <a href="viewcomplaint">
                    <span class="icon"><i class="fa fa-spinner" style="color: lightcoral;"></i></span>
                    <span class="title">Complaints</span>
                  </a>
                </li>
                <li>
                  <a href="customerdetails">
                    <span class="icon">
                  <i class="fas fa-users" style="color:lightpink ;"></i></span>
                    <span class="title">Customers</span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
