
<div class="wrapper">
    <div class="top_navbar" id="fixed-nav-bar" >
      <div class="hamburger">
         <div class="hamburger__inner">
           <div class="one"></div>
           <div class="two"></div>
           <div class="three"></div>
         </div>
      </div>
      <div class="menu" style="position: static; float: none;">
        <div class="logo" style="color: black;">
          <h2 ><i>PETS</i></h2>
        </div>
        <div class="left_menu" >
        <ul style="z-index: 9999;">
          <li style="z-index: auto;">
            <i class="fas fa-bell" style="margin-left: 988px;"></i>
            <div class="profile_da">
               <div class="da_item"><i class="fas fa-user-circle" style="color: limegreen;"></i> &nbsp;&nbsp;Profile </div>
               <div class="da_item"><i class="fas fa-lock" style="color: lightgray;"></i>&nbsp;&nbsp;Change Password</div>
              
            </div>
          </li>
        </ul>
        </div>
        <div class="right_menu">
          <ul>
            <li>
              <i class="fas fa-user"></i>
              <div class="profile_dd">
                 <div class="dd_item"><i class="fas fa-user-circle" style="color: limegreen;"></i> &nbsp;&nbsp; Profile</div>
                 <div class="dd_item"><i class="fas fa-lock" style="color: lightgray;"></i>&nbsp;&nbsp;Change Password</div>
                 <div class="dd_item"><i class="fas fa-lock" style="color: maroon;"></i>&nbsp;&nbsp; Logout
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
      
    <div class="main_container">
        <div class="sidebar">
            <div class="sidebar__inner">
              <div class="profile">
               
              </div>
              <ul>
              
                <li>
                    <a href="pets">
                      <span class="icon"><i class="fas fa-paw" style="color: brown;"></i></span>
                      <span class="title">Pets Details
                      </span>
                    </a>
                  </li>
               
                   <li>
                    <a href="doctor">
                      <span class="icon"><i class="fas fa-stethoscope" style="color: lightskyblue;"></i></span>
                      <span class="title">Doctors</span>
                    </a>
                  </li>
             
                  <li>
                    <a href="trainer">
                      <span class="icon"><i class="fas fa-heartbeat" style="color: red;"></i></span>
                      <span class="title">Trainer</span>
                    </a>
                  </li>
                  <li>
                    <a href="addshop">
                      <span class="icon"><i class="fas fa-store" style="color: pink;"></i></span>
                      <span class="title">Shops</span>
                    </a>
                  </li>
                  <li>
                    <a href="order">
                      <span class="icon"><i class="fa fa-shopping-cart" style="color: rosybrown;"></i></span>
                      <span class="title">Order Detail</span>
                    </a>
                  </li>
              </ul>
            </div>
        </div>
  <body style="background-color:#F7F9F6;">
     
    <div class="container" style=" margin-top: 0px;max-width: 100% !important;">
      
    <br>
    <br>

    <div class="row" style="margin-top: 30px;margin-bottom: 10px;">
    
      <nav aria-label="breadcrumb"style="padding-left: 21px;" >
        <ol class="breadcrumb" >
          <li class="breadcrumb-item" ><a href="home" style="color: black !important;">Home &nbsp;<i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;cursor: initial;">Shop Details &nbsp;<i class="fas fa-store"></i></li>
        </ol>
      </nav>
   
    </div>
   
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-6">
           
        </div>
        <div class="col-md-3">
            
           
        </div>
        <div class="col-md-3" >
            <!-- <button type="button" class="btn btn-success"style=" float: right;margin-right: 10px !important; " >Filter</button> -->
            <button type="button" class="btn btn-success"style=" float: right;margin-right: 30px !important; " data-toggle="modal" data-target="#myModal">Register a New Shop</button>
          
           
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" style="padding-left: 23px;">
            <div class="card" style="width: 99%;margin-left: 0px;border-radius: 14px;">
           
            <table class="table " style="border-collapse:collapse;padding-top: 20px !important;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Shop Name</th>
                        <th>Contact Number</th>

                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>1</td>
                        <td>Jimmy</td>
                        <td>bhl</td>
                       
                        <td> 
                            <ul class="list-inline m-0">
                              <button type="button" class="btn btn-success"style=" float: right;margin-right: 30px !important; " data-toggle="modal" onclick="shop/foods" ><a href="toyslist" style="color: white;text-decoration: none;">View Products</a></button>
                                <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View" data-toggle="modal" data-target="#modal"><i class="fa fa-eye"></i></button>
                                </li>

                            <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit" data-toggle="modal" data-target="#myModa"></i></button>
                            </li>
                            <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-toggle="modal" data-target="#myMod"><i class="fa fa-trash"></i></button>
                            </li>
                           
                            </ul>
                        </td>
                    </tr>

                    <tr >
                        <td >2</td>
                        <td>tomy</td>
                        <td>gcfg</td>
                       
                        <td> 
                            <ul class="list-inline m-0">
                              <button type="button" class="btn btn-success"style=" float: right;margin-right: 30px !important; " data-toggle="modal" onclick="shop/foods" ><a href="toyslist" style="color: white;text-decoration: none;">View Products</a></button>
                                <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View" data-toggle="modal" data-target="#modal"><i class="fa fa-eye"></i></button>
                                </li>
                               
                            <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit" data-toggle="modal" data-target="#myModa"></i></button>
                            </li>
                            <li class="list-inline-item"style="padding-right: 20px;padding-bottom: 10px;" >
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-toggle="modal" data-target="#myMod"><i class="fa fa-trash"></i></button>
                            </li>
                           
                            </ul>
                        </td>
                    </tr>
                   
                    
                    <tr >
                        <td>3</td>
                        <td>tom</td>
                        <td>njjh</td>
                       
                        <td> 
                            <ul class="list-inline m-0">
                              <button type="button" class="btn btn-success"style=" float: right;margin-right: 30px !important; " data-toggle="modal" onclick="shop/foods" ><a href="toyslist" style="color: white;text-decoration: none;">View Products</a></button>
                                <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View" data-toggle="modal" data-target="#modal"><i class="fa fa-eye"></i></button>
                                </li>
                               
                            <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit" data-toggle="modal" data-target="#myModa"></i></button>
                            </li>
                            <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-toggle="modal" data-target="#myMod"><i class="fa fa-trash"></i></button>
                            </li>
                            </ul>
                        </td>
                    </tr>
                    

                    <tr >
                        <td>4</td>
                        <td>jerry</td>
                        <td>mnn</td>
                        
                        <td> 
                            <ul class="list-inline m-0">
                              <button type="button" class="btn btn-success"style=" float: right;margin-right: 30px !important; " data-toggle="modal" onclick="shop/foods" ><a href="toyslist" style="color: white;text-decoration: none;">View Products</a></button>
                                <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View" data-toggle="modal" data-target="#modal"><i class="fa fa-eye"></i></button>
                                </li>
                               
                            <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit" data-toggle="modal" data-target="#myModa"></i></button>
                            </li>
                            <li class="list-inline-item"style="padding-right: 20px;padding-bottom: 10px;" >
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-toggle="modal" data-target="#myMod"><i class="fa fa-trash"></i></button>
                            </li>
                           
                           
                            </ul>
                        </td>
                    </tr>
                  

                    <tr >
                        <td>5</td>
                        <td>jhhjb</td>
                        <td>Twohgv</td>
                       
                        <td> 
                            <ul class="list-inline m-0">
                              <button type="button" class="btn btn-success"style=" float: right;margin-right: 30px !important; " data-toggle="modal" onclick="shop/foods" ><a href="toyslist" style="color: white;text-decoration: none;">View Products</a></button>
                                <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="View" data-toggle="modal" data-target="#modal"><i class="fa fa-eye"></i></button>
                                </li>
                            <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Update"><i class="fa fa-edit" data-toggle="modal" data-target="#myModa"></i></button>
                            </li>
                            <li class="list-inline-item"style="padding-right: 20px;padding-bottom: 10px;" >
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" data-toggle="modal" data-target="#myMod"><i class="fa fa-trash"></i></button>
                            </li>
                           
                            </ul>
                        </td>
                    </tr>
                       
                </tbody>
            </table>
            <div class="right" style="text-align: right;">
                <ul class="pagination">
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">«</a></li>
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">1</a></li>
                  <li><a class="active" href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">2</a></li>
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">3</a></li>
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">4</a></li>
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">5</a></li>
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">6</a></li>
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">7</a></li>
                  <li><a href="tryit.asp-filename=trycss_ex_pagination_active_round.html#">»</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="modal" id="myModa" >
        <div class="modal-dialog" >
          <div class="modal-content"style="width: 200% !important;left: 0;margin-bottom:90px">
            <div class="modal-header">
              <h4 class="modal-title">
                  
                Update Shop Details
                  
              </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form style="padding-left: 10px;padding-right: 40px;">
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlInput1"><b>Shop Name:</b></label>
                    <input type="text" class="form-control" id="foodname" placeholder="" >
                  </div>
                  <div class="col">
                    <label for="exampleFormControlTextarea1"><b>Contact Number:</b> </label>
                    <input type="text" class="form-control" id="brand" placeholder="" >
                  </div>
                 
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlTextarea1"><b>Registration Number:</b> </label>
                    <input type="text" class="form-control" id="brand" placeholder="" >
                  </div>
                 
                  <div class="col">
                    <label for="exampleFormControlSelect1"><b>Address:</b></label>
                    <textarea class="form-control" id="description" rows="1"></textarea>
                  </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlTextarea1"><b>Pincode :</b> </label>
                    <input type="number" class="form-control" id="price" placeholder="" >
                   
                  </div>
                  <div class="col">
                   
                  </div>
                 
                </div>
                <br>
             
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Update</button>
              </div>
              </form>
           
            </div>
            </div>
          
          </div>
        
      </div>
    </div>
    
    
      <div class="row">
      
        <div class="modal" id="myMod" >
          <div class="modal-dialog" >
            <div class="modal-content"style="width: 180% !important;left: 0;">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <div class="card" style="width: 96%;margin-left: 15px;">
                  <form>
                   <br>
                        <h5>Are you sure you want to delete ?</h5>
                    
                  </form>
               
                  <br>
                  <div class="row">
                      <div class="col-md-6" style="padding-bottom: 10px;">
                  <button type="submit" class="btn btn-success" style="width: 40%;border-radius: 12px;">Yes</button>
                </div>
                <div class="col-md-6" style="padding-bottom: 10px;">
                  <button type="submit" class="btn btn-success" style="width: 40%;border-radius: 12px;" data-dismiss="modal">Cancel</button>
                </div>
                </div>
                  <br>
                  <br>
              </div>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="modal" id="myModal" >
          <div class="modal-dialog" >
            <div class="modal-content"style="width: 200% !important;left: 0;margin-bottom:90px">
              <div class="modal-header">
                <h4 class="modal-title" style="color: white;">
                    
                  REGISTER SHOP
                    
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <form style="padding-left: 10px;padding-right: 40px;"(submit)="onSubmit()">
                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlInput1"><b>SHOP NAME:</b></label>
                      <input type="text" class="form-control" id="foodname" placeholder=""  formControlName="shop_name" >
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1"><b>PLACE:</b> </label>
                        <input type="text" class="form-control" id="brand" placeholder="" formControlName="shop_place">
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b>COUNTRY:</b> </label>
                      <input type="text"  disabled class="form-control" value="India" id="brand" placeholder="" formControlName="shop_country" >
                    </div>
                   
                    <div class="col">
                        <label for="exampleFormControlSelect1"><b>STATE:</b></label>
                        <input type="text" class="form-control" id="price" placeholder="" formControlName="shop_state">
                      </div>
                  </div>
                  
                  <br>
                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b>DISTRICT :</b> </label>
                      <input type="text" class="form-control" id="price" placeholder="" formControlName="shop_district" >
                     
                    </div>
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b>ADDRESS :</b> </label>
                      <textarea class="form-control" id="description" rows="1" formControlName="shop_address"></textarea>
                     
                       
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b>PINCODE :</b> </label>
                      <input type="number" class="form-control" id="price" placeholder="" formControlName="shop_pincode">
                     
                    </div>
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b>IMAGE OF SHOP :</b> </label>
                      <input type="file" class="form-control" id="price" placeholder="" formControlName="image" (change)="onChange($event)" >
                       
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b> USER NAME  :</b> </label>
                      <input type="number" class="form-control" id="price" placeholder="" formControlName="user_id" >
                     
                    </div>
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b>PHONE NUMBER  :</b> </label>
                      <input type="number" class="form-control" id="price" placeholder="" formControlName="phone_number" >
                     
                    </div>
                    <div class="col">
                      <label for="exampleFormControlTextarea1"><b>PASSWORD :</b> </label>
                      <input type="password" class="form-control" id="price" placeholder=""  formControlName="password">
                       
                      </div>
                  </div>
               
                  
                <div class="modal-footer">
                  <button type="button"  style="width: 127%;background:#3f51b5!important;"class="btn btn-success" data-dismiss="modal" >REGISTER SHOP</button>
                </div>
                </form>
             
              </div>
              </div>
            
            </div>
          
        </div>
      </div>
      <div class="row">
        <!-- <h2>Modal Example</h2> -->
        <!-- Button to Open the Modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button> -->
      
        <!-- The Modal -->
        <div class="modal" id="modal" >
          <div class="modal-dialog" >
            <div class="modal-content"style="width: 168% !important;left: 0;margin-bottom:90px">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Shop Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
               
                <form style="padding: 20px;">
                 

                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><b>Shop Name:</b></label>
                        <div class="col-sm-9">
                            <p>bmb</p>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><b>Contact Number:</b></label>
                        <div class="col-sm-9">
                            <p>230</p>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><b>Registration Number:</b></label>
                        <div class="col-sm-9">
                            <p>230</p>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><b>Address:</b></label>
                        <div class="col-sm-9">
                            <p style=" max-width:250px;
                            word-wrap:break-word;">jhbhjbhjb hjbhhhhhh </p>

                        </div>
                    </div>
                     
                     
                    <div class="text-center">
                      
                      </div>
                    <div class="modal-footer">
                      
                      </div>
                       
                  </form>
              </div>
              </div>
              
              <!-- Modal footer -->
            
            </div>
          
        </div>
      </div>
    </div>
    </body>