<div  [ngClass]="{'wrapper': show}">
      
  <div class="main_container">
      <div class="sidebar" [ngClass]="{'sidebarsmall': show}" >
          <div class="sidebar__inner">
            <div class="profile">
              <!-- <div class="img">
                <img src="../../assets/IMG/exeq engineers.png" alt="profile_pic" style="width: 180px;height: 170px;"> 
              </div> -->
              <!-- <div class="profile_info">
                 <p></p>
                 <p class="profile_name">Alex John</p>
              </div> -->
            </div>
            <ul>
              
              <!-- <li>
                <a href="home" class="active">
                  <span class="icon">
                    <i class="fas fa-home"  style="color: plum;" ></i>
                  </span>
                  <span class="title">Dashboard</span>
                </a>
              </li> -->
              <div class="top_navbarr" id="fixed-nav-bar"  >
              <div class="hamburger" >
                <div class="hamburger__inner" (click)="toggle()">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="three"></div>
                </div>
             </div>
             <div style="padding: 18px;">
               <span style="color: #5e72e4;
               font-size: 35px;
               font-weight: bold;
               font-family: fangsong;">PETS</span>
             </div>
             </div>


             <app-admiaccordian style="margin-top: 21px;"  [menus]="menus"  [ngClass]="{'app-accordian': show}"></app-admiaccordian>
   
        
            <!-- <app-accordian style="margin-top: 21px;" [ngClass]="{'app-accordian': show}"
            [options]="options" 
            [menus]="menus">
           
          </app-accordian> -->
                

          <ul style="margin-top: 27px;" class="accordion" *ngIf="show">
            <li *ngFor="let menu of menus; let i = index" 
              [class.active]="menu.active">
              <div class="menu">
               
              <img [src]="menu.iconClass" style="width: 16px;margin-right: 10px">
              </div>
            </li>
         
            
      </ul>

        
              <!-- <ul class="collapsible collapsible-accordion">
                <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-chevron-right"></i> Submit
                    blog<i class="fas fa-angle-down rotate-icon"></i></a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#" class="waves-effect">Submit listing</a>
                      </li>
                      <li><a href="#" class="waves-effect">Registration form</a>
                      </li>
                    </ul>
                  </div>
                </li>
                
                
                
             
          </ul> -->
          <!--  <li>
              <a href="viewcomplaint">
                <span class="icon"><i class="fa fa-spinner" style="color: lightcoral;"></i></span>
                <span class="title">Complaints</span>
              </a>
            </li>
            <li>
              <a href="customerdetails">
                <span class="icon">
              <i class="fas fa-users" style="color:lightpink ;"></i></span>
                <span class="title">Customers</span>
              </a>
            </li> -->


                               
            </ul>
            
           
          </div>
      </div>
      
<body style="background-color:#F7F9F6;">
 
<div class="container" style=" margin-top: 0px;max-width: 100% !important;" [ngClass]="{'bigcontainer': show}" >
  <div class="top_navbar" id="fixed-nav-bar" style="padding-top: 30px;">
      <div class="row col-md-12" style="margin-top: -11px;">
          <div class="col-md-8">
           <div style="margin-top: -20px;">
            
              <!-- <div class="input-group" style="width: 42%;
              height: 44px;">
                  <input type="text" class="form-control search-form" 
                   placeholder="Search" style="height: 44px;">
                   <span class="input-group-btn">
                     <button type="submit" 
                     class="btn search-btn" data-target="#search-form" 
                     name="q">
                       <i class="fa fa-search"></i>
                     </button>
                   </span>
                 </div> -->
              
           </div>

                  
                
          </div>
          <div class="col-md-4">
          <div class="profile px-8" >
            
            <!-- <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
              </ul>
            </div> -->
             
                  <!-- <span class="icon shadow-lg"><i class="fas fa-profile" data-toggle="tooltip" data-placement="top" title="Logout" style="color: white;text-shadow: 0 0 black"></i></span> -->
                  <!-- <mat-icon   style="color: white;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);font-size: 31px;">account_circle</mat-icon> -->
                  <!-- <mat-icon style="color: white;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);font-size: 31px;">account_circle</mat-icon> -->
                  <mat-icon  style="cursor:pointer;" *ngIf="logactive"  style="color: white;font-size: 31px;margin-left: 15px;" (click)="accountdropdown()">account_circle</mat-icon>
                      <mat-icon   style="cursor:pointer;"  *ngIf="!logactive" style="color: white;font-size: 31px;margin-left: 15px;" (click)="accountdropdown()">account_circle</mat-icon>&nbsp;&nbsp;<span style="color:white;position: absolute;left: 66px;
                      top: 2px;">{{UserId}}</span>
                        
                      <mat-list role="list" *ngIf="logactive">
                        <mat-list-item role="listitem"><mat-icon style="color: darkcyan;font-size: 18px;">perm_identity</mat-icon>{{UserId}}</mat-list-item>
                        <!-- <mat-list-item role="listitem"><mat-icon style="color:rgb(168, 67, 67);font-size: 18px;">settings</mat-icon>Settings</mat-list-item> -->
                        <hr>
                        <mat-list-item role="listitem" (click)="Logout()"><mat-icon style="color:rgb(226, 149, 6);font-size: 18px;">settings_power</mat-icon>Logout</mat-list-item>
                      </mat-list>
              
              
          </div>

      </div>
      </div>
     
    <!-- <div class="menu" style="position: static; float: none;">

  
      <li>
        <a href="login">
          <span class="icon"><i class="fas fa-sign-out-alt" data-toggle="tooltip" data-placement="top" title="Logout" style="color: black;"></i></span>
          <span class="title"></span>
        </a>
        </li>
   
    </div> -->
  </div>


<div class="row" style="padding-bottom: 0px;background-color: #5e72e4;margin-top: -20px;padding-top: 100px;">
  <div class="col-md-8">
  <nav aria-label="breadcrumb"style="padding-left: 21px;"id="breadid" >
    <ol class="breadcrumb"style="width: 31%; box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);" >
      <li class="breadcrumb-item" ><a href="home" style="color: black !important;">Home &nbsp;<mat-icon style="font-size: 15px;">home</mat-icon></a></li>
      <li class="breadcrumb-item active" aria-current="page" style="text-decoration: none;cursor: initial;">Trainers  &nbsp;<mat-icon>person</mat-icon></li>
    </ol>
  </nav> 
  </div>
  <!-- <div class="row" style="background: #5e72e4">
    <div class="col-md-6">
       
    </div> -->
    <div class="col-md-4">
<!-- 
      <button type="button"  (click)="filterdropdown()" class="btn btn-success addbutton"style=" margin-left: 20px;">Filter</button> 
      <mat-list role="list" style="margin-top: 43px;z-index: 1000;"  *ngIf="this.isfilter" >
        <mat-list-item role="listitem" (click)="filter(item['trainer_district'])" style="border-bottom: 1px solid grey" *ngFor="let item of this.Trainers">{{item['trainer_district']}}</mat-list-item>

        

      </mat-list> -->
      <button type="button" id="filter" (click)="toggleShow()" class="btn btn-success" style=" float: right;margin-right: 10px !important; " >Filter</button>
      <button type="button" id="addbutton" class="btn btn-success addbutton" data-toggle="modal" style="float: right;" data-target="#myModal">Add</button>
      
       
    </div>
    
       
    
    <!-- <div class="col-md-3" >
  

       
    </div>
</div> -->

</div>
<!-- <div class="row" style="margin-left: 1px;">
    <div class="col-md-6" style="padding-left: 0px;">
       <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="background-color:  #d0cacf;text-decoration: none;">Charging Station Details </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="addcharger">Add Charging Station Details</a>
        </li> &nbsp;&nbsp;
         
       </ul>
    </div>
</div> -->

<div class="row" style="background-color: #5e72e4;padding-bottom:100px"  ></div>


<div class="row" style="margin-top: -60px;">
  
  
      <div class="col-lg-12" style="padding-left: 23px;">
          <div class="card" style="width: 99%;margin-left: 0px;border-radius: 2px;" >
            <div *ngIf="isShown" class="cardfil" style="width: 100%;margin-left: 0px;border-radius: 2px;" >
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <div style="display: flex;">
                    <input type="search"  style="width: 80%;margin: 30px;" id="form1" class="form-control" />
                    <button type="submit" style="width: 3%;
                    height: 25px;
                    margin-left: -72px;
                    margin-top: 35px;border: none;background-color: white;"><i class="fa fa-search"></i></button>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="display: flex;">
                    <select name="cars" id="cars"  style="width: 50%;margin: 30px;height: 35px;border: 1px solid #ced4da;border-radius: .25rem;">
                      <option value="no">No Filter</option>
                      <option value="">Sort </option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                    <button class="fltbtn" type="submit">Filter</button>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              <hr>
              </div>
            <br>
            <br>
              <div class="card-header border-0">
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="mb-0 card-header-title " style="font-size: 20px;"  id="tabhead">Manage Trainers</h6>                  </div>
                  <div class="col-sm-6">
                    <select name="cars" id="cars"  style="width: 50%;height: 35px;border: 1px solid #ced4da;border-radius: .25rem;">
                      <option value="no">1</option>
                      <option value="">2 </option>
                      <option value="">3</option>
                      <option value="">4</option>
                    </select>
                  </div>
                </div>
                 
                </div>
                <br>
                <br>
          <table class="table  table-striped table-bordered"
            style="border-collapse:collapse;padding-top: 20px !important;">
            <thead style="background: #5e72e4;font-family: serif;color:white;height: 64px;">
                    <tr>
                        <th>NO.</th>
                        <th>TRAINER NAME</th>
                        <th>SPECIALIST</th>
                        <th>CONTACT NUMBER</th>
                        <th>DISTRICT</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
               <tbody>
                <ng-container *ngFor="let trainer of pagedItems;let i=index">
                 
                <tr>
                        <td>{{trainer['trainer_id']}}</td>
                        <td>{{trainer.trainer_name}}</td>
                        <td>{{trainer.trainer_services}}</td>
                        <td>
                          {{trainer.contact_number}}
                        </td>
                        <td>
                          {{trainer.trainer_district}}
                        </td>
                        <ul class="list-inline m-0">
                          <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                              <button class="btn btn-success btn-sm rounded-0"  style="color: #7278bc;
                              background:none;
                              border: none;"type="button" data-toggle="tooltip" data-placement="top" title="View" (click)="viewDetails(trainer['trainer_id'],trainer,'eye')" ><mat-icon *ngIf="trainer.expanded">visibility</mat-icon><mat-icon *ngIf="!trainer.expanded">visibility_off</mat-icon></button>
                          </li>

                      <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                          <button class="btn btn-success btn-sm rounded-0" style="color: #3a9834;
                          background:none;
                          border: none;" type="button" data-toggle="tooltip" data-placement="top" title="Update"  (click)="viewDetails(trainer['trainer_id'],trainer,'edit')"><mat-icon data-toggle="modal" data-target="#myModa">create</mat-icon></button>
                      </li>
                      <li class="list-inline-item" style="padding-right: 20px;padding-bottom: 10px;">
                          <button class="btn btn-danger btn-sm rounded-0"  style="background: none;
                          border: none;
                          color: #c33737;"type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="DeleteTrainers(trainer['trainer_id'],i)"><mat-icon >delete</mat-icon></button>
                      </li>
                     
                      </ul>
                    </tr>
                    <tr *ngIf="trainer.expanded">
                    <td colspan="6">
                      <mat-vertical-stepper>
                        <mat-step>
                          <ng-template matStepLabel>Peronal Details</ng-template>
                     
                           Name: <p>{{this.TrainerDetils && this.TrainerDetils[0]?.trainer_name}}</p>
                           <br>
                           Gender:<p>{{this.TrainerDetils && this.TrainerDetils[0]?.gender}}</p>
                         
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>Proffessional Details</ng-template>
                          
                            Trainer Services:<p>{{this.TrainerDetils  && this.TrainerDetils [0]?.trainer_services}}</p>
                            
                            
                          
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>Consultation Details</ng-template>
                         
                            
                            Consultation  Time:<p>{{this.TrainerDetils && this.TrainerDetils[0]?.time}}</p>
                            <br>
                            Consultation  Days:<p>{{this.TrainerDetils && this.TrainerDetils[0]?.consulting_days}}</p>
                            <br>
                            Consultation  Fees:<p>Rs.{{this.TrainerDetils && this.TrainerDetils[0]?.fess}}/-</p>
                      
                      
                      
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>Contact Details</ng-template>
                          Contact Number:<p>{{this.TrainerDetils && this.TrainerDetils[0]?.contact_number}}</p>
                          <br>
                          Address:<p>{{this.TrainerDetils && this.TrainerDetils[0]?.trainer_adress}}</p>
                          <br>
                        </mat-step>
                      </mat-vertical-stepper>
                        
                     
                    </td>
                    </tr>
                    </ng-container>

              

                


                  
                  </tbody>
            </table>
            <div class="right" style="text-align: right;">
              <div  style="text-align: right !important;">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                  </li> -->
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">«</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{activepage:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">»</a>
                  </li>
                  <!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                  </li> -->
              </ul>
              </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="modal" id="myModa" >
        <div class="modal-dialog" >
          <div class="modal-content"style="width: 200% !important;left: 69px;margin-bottom:90px">
            <div class="modal-header">
              <h4 class="modal-title">
                  
                UPDATE TRAINER DETAILS
                  
              </h4>
            
            </div>
            <div class="modal-body">
              <form style="padding-left: 10px;padding-right: 40px;"  [formGroup]="trainerForm">
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlInput1">Trainer Name:</label>
                    <input type="text" class="form-control" id="drname" placeholder=""  formControlName="trainer_name">
                  </div>
                  <div class="col">
                      <label for="exampleFormControlSelect1">Specialist Category:</label>
                      <textarea class="form-control" id="membership" rows="1" formControlName="trainer_services"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlInput3">Gender: </label>
                    <select class="form-control" id="purpose" formControlName="gender">
                      <option selected disabled>Select Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>

                  </select>
                 
                  </div>
                 <br>
                     <div class="col">
                      <label for="exampleFormControlSelect1">Consulting Fees:</label>
                      <input type="text" class="form-control" id="fees" placeholder="" formControlName="fess" >
                    </div>
                  <!-- <div class="col">
                    <label for="exampleFormControlSelect1">Proffessional Membership Details:</label>
                    <textarea class="form-control" id="membership" rows="1"formControlName="membership"></textarea>
                  </div> -->
              
             
                 
                </div>
                <br>

                <div class="row">
              
                    
                    <div class="col">
                      <label for="exampleFormControlTextarea1">Consulting Days : </label>
                      <input type="text" class="form-control" id="day" placeholder="" formControlName="consulting_days">
                     
                    </div>
                       <div class="col">
                    <label for="exampleFormControlTextarea1">Consulting Time:</label>
                    <input type="time" class="form-control" id="time" placeholder="" formControlName="consulting_time" >
                  </div>
                 
                </div>
               
                <br>

               
                <div class="row">
                 
               
                  <div class="col">
                      <label for="exampleFormControlTextarea1">Mobile Number : </label>
                      <input type="number" class="form-control" id="mobile" placeholder="" formControlName="contact_number" >
                    </div>
                       <div class="col">
                      <label for="exampleFormControlTextarea1">Email : </label>
                      <input type="email" class="form-control" id="mobile" placeholder="" formControlName="email" >
                    </div>
                 
                </div>
<br>
                <div class="row">
                  <div class="col">
                    <label for="exampleFormControlTextarea1">State : </label>
                  
                    <select class="form-control" id="typeofmedicine" formControlName="trainer_state" (change)="getDistrict($event)">
                      <option *ngFor="let state of this.States" value="{{state.state_id}}">{{state.state_title}}</option>

                    </select>
                    
                   
                  </div>
                  <div class="col">
                    <label for="exampleFormControlTextarea1">Distrct :</label>
                    <select class="form-control" id="typeofmedicine" formControlName="trainer_district" >
                      <option *ngFor="let district of this.District" value="{{district.district_title}}">{{district.district_title}}</option>

                    </select>

                  </div>
                 
                </div>

             <br>
                <div class="row">
                 
                  <div class="col">
                    <label for="exampleFormControlTextarea1">Place :</label>
                    <textarea class="form-control" id="address" rows="1" formControlName="trainer_place"></textarea>
                  </div>
                     <div class="col">
                    <label for="exampleFormControlTextarea1">Address :</label>
                    <textarea class="form-control" id="address" rows="1" formControlName="trainer_adress"></textarea>
                  </div>
                  <div class="col">
                    <label for="exampleFormControlTextarea1">Edit Image : </label>
                    <input type="file" id="pro-image" name="pro-image" 
                    class="form-control" multiple formControlName="image" (change)="onChange($event)">
                  </div>
                 
                </div>
               
              
               
                <br>
                
                
              <div class="modal-footer">
                <button type="button" class="btn btn-success" id="footclose" data-dismiss="modal" >CLOSE</button>
                <button type="button" id="footbtn" class="btn btn-success" (click)="onSubmit()" data-dismiss="modal">ADD TRAINER</button>
              </div>
              </form>
            </div>
            </div>
          
          </div>
        
      </div>
    </div>
    
      <div class="row">
        <!-- <h2>Modal Example</h2> -->
        <!-- Button to Open the Modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button> -->
      
        <!-- The Modal -->
        <div class="modal" id="myMod" >
          <div class="modal-dialog" >
            <div class="modal-content"style="width: 180% !important;left: 0;">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <div class="card" style="width: 96%;margin-left: 15px;">
                  <form>
                   <br>
                        <h5>Are you sure you want to delete ?</h5>
                    
                  </form>
               
                  <br>
                  <div class="row">
                      <div class="col-md-6" style="padding-bottom: 10px;">
                  <button type="submit" class="btn btn-success" style="width: 40%;border-radius: 12px;">Yes</button>
                </div>
                <div class="col-md-6" style="padding-bottom: 10px;">
                  <button type="submit" class="btn btn-success" style="width: 40%;border-radius: 12px;" data-dismiss="modal">Cancel</button>
                </div>
                </div>
                  <br>
                  <br>
              </div>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="modal" id="myModal" >
          <div class="modal-dialog" >
            <div class="modal-content"style="width: 200% !important;left: 69px;margin-bottom:90px">
              <div class="modal-header">
                <h4 class="modal-title" style="color: white;">
                    
                  ADD TRAINER
                    
                </h4>
     
              </div>
              <div class="modal-body">
                <form style="padding-left: 10px;padding-right: 40px;"  [formGroup]="trainerForm">
                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlInput1">Trainer Name:</label>
                      <input type="text" class="form-control" id="drname" placeholder=""  formControlName="trainer_name">
                    </div>
                    <div class="col">
                        <label for="exampleFormControlSelect1">Specialist Category:</label>
                        <textarea class="form-control" id="membership" rows="1" formControlName="trainer_services"></textarea>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                     
                        <label for="exampleFormControlInput3">Gender: </label>
                        <select class="form-control" id="purpose" formControlName="gender">
                          <option selected disabled>Select Gender</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
    
                      </select>
                    
                    </div>
                   <br>
                    <div class="col">
                      <label for="exampleFormControlSelect1">Proffessional Membership Details:</label>
                      <textarea class="form-control" id="membership" rows="1"formControlName="membership"></textarea>
                    </div>
                
               
                   
                  </div>
                  <br>

                  <div class="row">
                    <div class="col">
                        <label for="exampleFormControlSelect1">Consulting Fees:</label>
                        <input type="text" class="form-control" id="fees" placeholder="" formControlName="fess" >
                      </div>
                      
                      <div class="col">
                        <label for="exampleFormControlTextarea1">Consulting Days : </label>
                        <input type="text" class="form-control" id="day" placeholder="" formControlName="consulting_days">
                       
                      </div>
                   
                  </div>
                 
                  <br>

                 
                  <div class="row">
                   
                    <div class="col">
                      <label for="exampleFormControlTextarea1">Consulting Time:</label>
                      <input type="time" class="form-control" id="time" placeholder="" formControlName="consulting_time">
                    </div>
                    <div class="col">
                        <label for="exampleFormControlTextarea1">Mobile Number : </label>
                        <input type="number" class="form-control" id="mobile" placeholder="" formControlName="contact_number" >
                      </div>
                   
                  </div>

                  <div class="row">
                    <div class="col">
                      <label for="exampleFormControlTextarea1">State : </label>
                    
                      <select class="form-control" id="typeofmedicine" formControlName="trainer_state" (change)="getDistrict($event)">
                        <option *ngFor="let state of this.States" value="{{state.state_id}}">{{state.state_title}}</option>

                      </select>
                      
                     
                    </div>
                    <div class="col">
                      <label for="exampleFormControlTextarea1">Distrct :</label>
                      <select class="form-control" id="typeofmedicine" formControlName="trainer_district" >
                        <option *ngFor="let district of this.District" value="{{district.district_title}}">{{district.district_title}}</option>

                      </select>

                    </div>
                   
                  </div>

               <br>
                  <div class="row">
                   
                    <div class="col">
                      <label for="exampleFormControlTextarea1">Place :</label>
                      <textarea class="form-control" id="address" rows="1" formControlName="trainer_place"></textarea>
                    </div>
                   
                  </div>
                 
                  <br>
                  <div class="row">
                   
                    <div class="col">
                      <label for="exampleFormControlTextarea1">Address :</label>
                      <textarea class="form-control" id="address" rows="1" formControlName="trainer_adress"></textarea>
                    </div>
                    <div class="col">
                      <label for="exampleFormControlTextarea1">Add Image : </label>
                      <input type="file" id="pro-image" name="pro-image" 
                      class="form-control" multiple formControlName="image" (change)="onChange($event)">
                    </div>
                   
                  </div>
                 
                  <br>
                  
                  
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" id="footclose" data-dismiss="modal" >CLOSE</button>
                  <button type="button" id="footbtn" class="btn btn-success" (click)="onSubmit()" data-dismiss="modal">ADD TRAINER</button>
                </div>
                </form>
             
              </div>
              </div>
            
            </div>
          
        </div>
      </div>
      
     
      <div class="row">
        <!-- <h2>Modal Example</h2> -->
        <!-- Button to Open the Modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button> -->
      
        <!-- The Modal -->
        <div class="modal" id="modal" >
          <div class="modal-dialog" >
            <div class="modal-content"style="width: 250% !important;left: 0;margin-bottom:90px">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Trainer Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
               
                <!-- <form style="padding: 20px;">
                 
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Trainer Name:</label>
                        <div class="col-sm-9">
                            <p>{{TrainerDetils&&TrainerDetils[0]?.trainer_name}}</p>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Specialist Category:</label>
                        <div class="col-sm-9">
                            <p>{{TrainerDetils&&TrainerDetils[0]?.trainer_services}}</p>

                        </div>
                      </div>
                     
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Gender:</label>
                        <div class="col-sm-9">
                            <p>{{TrainerDetils&&TrainerDetils[0]?.gender}}</p>

                        </div>
                      </div>
                     

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Consulting Fees:</label>
                        <div class="col-sm-9">
                            <p>{{TrainerDetils&&TrainerDetils[0]?.fess}}</p>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Consulting Days </label>
                        <div class="col-sm-9">
                            <p>{{TrainerDetils[0]?.consulting_days}}</p>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Consulting Time </label>
                        <div class="col-sm-9">
                            <p>{{TrainerDetils[0]?.time}}</p>

                        </div>
                      </div>
                     
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Mobile Number:</label>
                        <div class="col-sm-9">
                            <p>{{TrainerDetils[0]?.contact_number}}</p>

                        </div>
                      </div> 
                      <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm">Address:</label>
                        <div class="col-sm-9">
                            <p style=" max-width:250px;
                            word-wrap:break-word;">{{TrainerDetils[0]?.trainer_adress}}</p>

                        </div>
                      </div>
                     
                    <div class="modal-footer">
                      
                      </div>
                       
                  </form> -->
              </div>
              </div>
              
              <!-- Modal footer -->
            
            </div>
          
        </div>
      </div>
    </div>
    </body>